@import url('https://fonts.googleapis.com/css2?family=Limelight&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  font-family:"Limelight",sans-serif;
}
p{
  font-family: sans-serif;
}